<footer class="mt-12 bg-dark-grey px-5 py-8 text-center text-white">
    <div class="container mx-auto">
        <nav
            class="flex flex-wrap justify-center px-20 pb-9 text-center text-lg md:items-center md:justify-around"
        >
            <div class="flex justify-center lg:mr-6">
                <a
                    class="text-white hover:text-wood hover:underline"
                    href="./index.html"
                    >Poblenou Chess Club</a
                >
            </div>
            <div class="flex justify-center">
                <ul
                    class="flex w-full list-none items-center justify-around gap-5 py-7 md:w-auto md:gap-0 md:space-x-8"
                >
                    <li>
                        <a
                            class="mr-3 text-white hover:text-wood hover:underline"
                            href="./members.html"
                            >Members</a
                        >
                    </li>
                    <li>
                        <a
                            class="mr-3 text-white hover:text-wood hover:underline"
                            href="./tournament.html"
                        >
                            Annual Tournament
                        </a>
                    </li>
                    <li>
                        <a
                            class="mr-3 text-white hover:text-wood hover:underline"
                            href="#"
                        >
                            Photo Gallery
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex justify-center lg:ml-6">
                <ul
                    class="flex w-full list-none items-center justify-center space-x-4 text-3xl md:w-auto"
                >
                    <li>
                        <a
                            class="social-network__link"
                            href="#"
                            aria-label="Facebook"
                        >
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            class="social-network__link"
                            href="#"
                            aria-label="Twitter"
                        >
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            class="social-network__link"
                            href="#"
                            aria-label="Instagram"
                        >
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <p class="mb-4 py-2 text-sm">
            &copy; Made by Pierre-Antoine Tremblay for the class
            <span class="italic" lang="es"> "Herramientas HTML y CSS 2" </span>
            of the
            <span class="italic" lang="ca">
                "Universitat Oberta de Catalunya"
            </span>
            ,
            <time datetime="2023">2023</time>
            .
        </p>
    </div>
    <div>
        <p class="mx-10 mb-0 text-sm sm:mx-0">
            All texts are free of copyrights. The pictures come from
            <a
                class="font-bold text-white hover:text-wood hover:underline"
                href="https://www.pexels.com/fr-fr/"
                target="_blank"
            >
                Pexels
            </a>
            and
            <a
                class="font-bold text-white hover:text-wood hover:underline"
                href="https://unsplash.com/fr"
                target="_blank"
            >
                Unsplash
            </a>
            . All can be reproduced freely here, and their attribution, if
            necessary, is indicated.
        </p>
    </div>
</footer>
