<header class="bg-broken-white">
    <nav class="flex items-center justify-between px-16 py-4">
        <a class="text-xl" href="./index.html"> Poblenou Chess Club </a>
        <button class="lg:hidden">
            <i class="bi bi-list navbar-toggler-icon border p-1 text-2xl"></i>
        </button>
        <div class="hidden lg:flex" id="navbarNav">
            <ul class="flex space-x-6 text-lg">
                <li class="mr-6">
                    <a
                        class="text-gray-600 hover:text-gray-800"
                        href="./members.html"
                    >
                        Members
                    </a>
                </li>
                <li class="mr-6">
                    <a
                        class="text-gray-600 hover:text-gray-800"
                        href="./tournament.html"
                    >
                        Annual Tournament
                    </a>
                </li>
                <li class="mr-6">
                    <a class="text-gray-600 hover:text-gray-800" href="#">
                        Photo Gallery
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
