<ol class="col-span-3 mx-auto ml-16 list-decimal space-y-4 text-lg">
    <li>
        The tournament is open to players of all ages and skill levels residing
        in the Poblenou neighborhood.
    </li>
    <li>
        Participants must register for the tournament by submitting their full
        name, contact information, and a brief summary of their chess experience
        through the online registration form. The form will be online soon.
    </li>
    <li>
        Registration is on a first-come, first-served basis, with a limited
        number of spots available. Early registration is highly encouraged to
        secure a place in the competition.
    </li>
    <li>
        A nominal registration fee of €10 is required to confirm your
        participation. Payment details will be provided upon submission of the
        registration form.
    </li>
    <li>
        Participants must adhere to the tournament schedule and rules, which
        will be provided to all registered players before the event.
    </li>
</ol>
