<table class="m-auto border-collapse">
    <thead>
        <tr class="text-center">
            <th
                class="hidden h-24 w-24 border border-black bg-chess-black text-white md:table-cell"
            ></th>
            <th
                class="hidden h-24 w-24 border border-black bg-chess-black text-white md:table-cell"
            ></th>
            <th
                class="h-24 w-24 border border-black bg-chess-black font-bold text-white"
            >
                Time
            </th>
            <th
                class="h-24 w-24 border border-black bg-chess-black font-bold text-white"
            >
                Friday, 10.09.2023
            </th>
            <th
                class="h-24 w-24 border border-black bg-chess-black font-bold text-white"
            >
                Saturday, 11.09.2023
            </th>
            <th
                class="hidden h-24 w-24 border border-black bg-chess-black text-white md:table-cell"
            ></th>
            <th
                class="hidden h-24 w-24 border border-black bg-chess-black text-white md:table-cell"
            ></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                11:30am
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-beige"></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                Round 3 (Semi-Finals)
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
        </tr>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-beige font-bold"
            >
                2:00pm
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-brown"></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-beige font-bold"
            >
                Round 4 (Finals)
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
        </tr>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                4:00pm (approx)
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-beige"></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                Awards ceremony
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
        </tr>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-beige font-bold"
            >
                4:30pm-5:00pm
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                Check-In
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-beige"></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
        </tr>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                5:00pm
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-beige font-bold"
            >
                Meeting
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-brown"></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
        </tr>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-beige font-bold"
            >
                5:30pm
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                Round 1
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-beige"></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
        </tr>
        <tr class="text-center">
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-brown font-bold"
            >
                6:00pm
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td
                class="relative h-24 w-24 border border-black bg-chess-beige font-bold"
            >
                Round 2
                <div
                    class="absolute inset-0 m-2 rounded-full bg-black bg-opacity-10"
                ></div>
            </td>
            <td class="h-24 w-24 border border-black bg-chess-brown"></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-beige md:table-cell"
            ></td>
            <td
                class="hidden h-24 w-24 border border-black bg-chess-brown md:table-cell"
            ></td>
        </tr>
    </tbody>
</table>
